                    <div class="author-tagline author-inline">
                        <div class="author-and-date">
                            <div class="author-byline">
                              <div class="author-name">{{article.byline}} </div>
                                <div class="author-username">
                                <!--(<a href="#">{{article.author_username}}</a>)-->
                                </div>
                            </div>
                            <div class="article-pub-date">
                                <div class="publication-date">
                                    {{article.published_at | date:"M j, Y \a\t h:sA" }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <section class="article-body">
                        <div class="article-content">
                          {{article.body|safe}}
                          <div id="pitch">
                            {{article.pitch|safe}}
                          </div>

                        </div>
                        <div class="article-disclosure">
                          {{article.disclosure|safe}}
                        </div>
                        <div class="special-message">
                          {{article.special_message|safe}}
                        </div>
                    </section>

                    
